@media screen and (max-width: 1200px) {
  body header {
    padding-right: 20px;
    padding-left: 20px; }

  body main .purpose-typography {
    padding-right: 100px; }
  body main .purpose__img-block img {
    height: 100%;
    left: -20%; }
  body main .scaner {
    height: 60%;
    gap: 0; }
    body main .scaner-content {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding-left: 0px; }
      body main .scaner-content__verefication-steps {
        padding-top: 100px;
        padding: 0 100px;
        width: 100%;
        margin-top: 0px; }
      body main .scaner-content__text-block {
        width: 60%;
        max-width: 100%; }
  body main .qr-code_orders {
    height: 650px; }
  body main .tool-integration {
    display: flex;
    flex-direction: column;
    align-items: center; }
    body main .tool-integration-diagramms {
      width: 80%; }
    body main .tool-integration-text {
      width: 100%;
      margin-bottom: 100px; } }
@media screen and (max-width: 1000px) {
  body header {
    padding: 15px;
    padding-right: 0px; }
    body header .navbar {
      padding-right: 15px;
      gap: 0px;
      justify-content: space-between; }
  body .about-platform-img {
    display: block;
    background: url("../images/cropped-phone.png") no-repeat;
    background-position: right;
    height: 800px;
    width: 40%; }
    body .about-platform-img:before {
      width: 90%;
      height: 600px;
      filter: blur(170px);
      left: -100px; }
    body .about-platform-img:after {
      display: none; }
  body .download {
    flex-direction: column;
    align-items: center; }
  body main .cards-block {
    flex-direction: column;
    align-items: center; }
    body main .cards-block .card {
      width: 70%;
      height: 40%; }
      body main .cards-block .card__content {
        width: 80%;
        padding: 50px 50px;
        max-width: 100%; }
  body main .purpose {
    flex-direction: column-reverse; }
    body main .purpose-typography {
      padding-right: 0;
      display: flex;
      flex-direction: column;
      padding: 0 100px;
      width: 100%; }
      body main .purpose-typography__header {
        max-width: 100%; }
      body main .purpose-typography__text {
        max-width: 100%; }
    body main .purpose__img-block {
      align-self: center;
      height: auto;
      position: static;
      margin-top: 60px;
      margin-bottom: 120px;
      width: auto; }
      body main .purpose__img-block_hor {
        display: none; }
      body main .purpose__img-block_ver {
        display: block;
        margin: auto; }
  body main .scaner {
    height: auto; }
    body main .scaner-content {
      padding-top: 350px;
      gap: 0; }
      body main .scaner-content__verefication-steps {
        flex-direction: column;
        height: auto;
        align-items: center; }
  body main .tool-integration {
    padding-left: 15px; }
    body main .tool-integration-diagramms {
      padding-left: 50px; }
      body main .tool-integration-diagramms__block_1 {
        right: auto;
        left: 0%;
        top: 40%; }
        body main .tool-integration-diagramms__block_1 img {
          width: 144px;
          height: auto; }
      body main .tool-integration-diagramms__block_2 {
        right: auto;
        left: 0;
        top: 0; }
      body main .tool-integration-diagramms__block_3 {
        left: auto;
        right: 1%;
        top: -27%; }
        body main .tool-integration-diagramms__block_3 img {
          width: 85px;
          height: auto; }
      body main .tool-integration-diagramms__block_4 {
        display: none; }
      body main .tool-integration-diagramms__block_5 {
        left: auto;
        right: 25%;
        top: -10%; }
        body main .tool-integration-diagramms__block_5 img {
          width: 90px;
          height: auto; }
      body main .tool-integration-diagramms__block_6 {
        left: 30%;
        bottom: auto;
        right: auto;
        top: 25%; }
        body main .tool-integration-diagramms__block_6 img {
          width: 90px;
          height: auto; }
      body main .tool-integration-diagramms__block_7 {
        left: 40%;
        bottom: auto;
        right: auto;
        top: 70%; }
  body main .qr-code {
    background: url("../images/party.png") no-repeat 0 0/100%, url("../images/coctail.png") no-repeat 0 660px/100%; }
    body main .qr-code::before {
      left: 0%;
      top: 700px;
      right: auto;
      width: 110px;
      height: 60px;
      background-size: contain;
      background-repeat: no-repeat; }
    body main .qr-code-orders {
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin-bottom: 160px; }
      body main .qr-code-orders__order_1 {
        margin-top: 200px; }
    body main .qr-code-generate {
      height: 80% px;
      position: relative;
      margin-top: 200px;
      display: flex;
      flex-direction: column-reverse; }
      body main .qr-code-generate-img-block__phone::after {
        top: 80%;
        right: 0%;
        bottom: 0%;
        left: 100%;
        transform: rotate(45deg); }
      body main .qr-code-generate-img-block__phone::before {
        right: -50%;
        top: auto;
        bottom: -10%;
        font-size: 20px;
        width: 150px;
        display: flex;
        align-items: flex-end; }
      body main .qr-code-generate-info {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 120px;
        flex-direction: column; }
        body main .qr-code-generate-info__header {
          max-width: 100%;
          font-size: 40px; }
        body main .qr-code-generate-info__description {
          padding-top: 30px;
          max-width: 100%;
          text-align: left; }
  body main .easier-ordering-advantages-cards {
    width: 90%;
    height: 900px; }
  body main .notab {
    display: none; } }
@media screen and (max-width: 768px) {
  body .about-platform-typography__header {
    font-size: 35px; }
  body .about-platform-img {
    width: 300px;
    height: 500px;
    background-size: contain; }
  body .download {
    gap: 45px; }
    body .download-marketplase {
      flex-direction: column;
      align-items: center;
      width: 40%; }
      body .download-marketplase__play-market, body .download-marketplase__app-store {
        width: 100%; }
        body .download-marketplase__play-market a img, body .download-marketplase__app-store a img {
          width: 100%; }
  body main .cards-block {
    flex-direction: column;
    align-items: center; }
  body main .scaner {
    height: auto; }
    body main .scaner-content {
      padding-top: 350px;
      gap: 0; }
      body main .scaner-content__verefication-steps {
        flex-direction: column;
        height: auto;
        align-items: center; }
  body main .qr-code-text {
    align-self: flex-start;
    max-width: 90%;
    padding-left: 20px; }
  body main .qr-code-content {
    flex-direction: column;
    padding-left: 0; }
  body main .qr-code-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 350px; }
    body main .qr-code-info .download-marketplase {
      width: 30%; }
  body main .qr-code-orders {
    height: 100%;
    align-items: center;
    gap: 50px;
    margin-bottom: 160px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0; }
    body main .qr-code-orders__order_1 {
      margin-top: 200px; }
    body main .qr-code-orders__order_2 {
      align-self: start; }
  body main .qr-code-generate {
    height: 80%;
    position: relative;
    margin-top: 200px;
    display: flex;
    flex-direction: column-reverse; }
    body main .qr-code-generate-img-block__phone::after {
      top: auto;
      right: 0%;
      bottom: -30%;
      left: 100%;
      transform: rotate(45deg); }
    body main .qr-code-generate-img-block__phone::before {
      right: -50%;
      top: auto;
      bottom: -40%;
      font-size: 20px;
      width: 150px;
      display: flex;
      align-items: flex-end; }
  body main .easier-ordering-advantages-cards {
    width: 90%;
    height: 900px; }
  body .get-in-touch .download-marketplase {
    width: 100%;
    height: auto; }
  body .footer {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 60px; }
    body .footer .copyright__logo img {
      margin: 0 auto; } }
@media screen and (max-width: 576px) {
  body .cookie {
    padding-left: 10px;
    gap: 20px; }
  body header {
    z-index: 2; }
    body header .navbar-login__avatar {
      display: none; }
    body header .about-platform-typography {
      z-index: 1;
      width: 60%;
      gap: 0; }
      body header .about-platform-typography__header {
        margin-bottom: 25px;
        line-height: 40px; }
      body header .about-platform-typography__text {
        line-height: 22px;
        font-size: 16px; }
      body header .about-platform-typography-purpose__line {
        display: none; }
    body header .download {
      gap: 34px; }
      body header .download-typography__text {
        font-size: 24px; }
  body main .cards-block .card {
    width: 95%; }
  body main .cards-block .card__content {
    width: auto; }
    body main .cards-block .card__content__header {
      font-size: 24px; }
    body main .cards-block .card__content__link a {
      font-size: 16px; }
  body main .purpose-typography {
    padding-left: 15px;
    padding-right: 45px; }
  body main .purpose-typography__header {
    font-size: 24px; }
    body main .purpose-typography__header::before {
      right: auto;
      left: 0; }
  body main .purpose-typography__text {
    font-size: 16px; }
  body main .scaner {
    margin-top: 190px;
    background-size: auto 300px; }
    body main .scaner-content {
      padding-top: 200px; }
      body main .scaner-content__text-block {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px; }
        body main .scaner-content__text-block-header {
          font-size: 24px;
          padding-bottom: 24px; }
        body main .scaner-content__text-block-description {
          font-size: 16px;
          padding-top: 0; }
  body main .tool-integration-text__header {
    font-size: 24px;
    line-height: 0px; }
  body main .tool-integration-text__description {
    font-size: 16px; }
  body main .tool-integration-diagramms {
    height: 200px;
    width: 100%; }
    body main .tool-integration-diagramms__block_1 {
      left: -10%;
      top: 17%; }
    body main .tool-integration-diagramms__block_2 {
      width: 110px;
      height: 22px;
      gap: 5px; }
      body main .tool-integration-diagramms__block_2 img {
        width: 25%; }
    body main .tool-integration-diagramms__block_3 {
      width: 85px;
      height: 90px;
      top: -13%;
      right: 3%; }
      body main .tool-integration-diagramms__block_3 img {
        width: 100%; }
    body main .tool-integration-diagramms__block_5 {
      width: 90px;
      height: 56px;
      top: 5%;
      right: 23%; }
      body main .tool-integration-diagramms__block_5 img {
        width: 100%; }
    body main .tool-integration-diagramms__block_6 {
      top: 35%;
      left: 40%; }
    body main .tool-integration-diagramms__block_7 {
      left: auto;
      right: 0;
      bottom: 5%; }
      body main .tool-integration-diagramms__block_7__circle:nth-child(4) {
        display: none; }
  body main .qr-code {
    background: url("../images/party.png") no-repeat top left/100% 350px, url("../images/coctail.png") no-repeat right 660px/80%;
    margin-top: 40px; }
    body main .qr-code::before {
      top: 750px;
      left: 15%; }
    body main .qr-code-content .download-marketplase {
      width: 40%; }
    body main .qr-code-orders {
      height: auto;
      margin-bottom: 0px; }
      body main .qr-code-orders__order_1 {
        margin-top: 30px; }
    body main .qr-code-info {
      margin-top: 227px; }
    body main .qr-code-text__header {
      font-size: 24px; }
    body main .qr-code-text__description {
      font-size: 16px;
      line-height: 22px; }
    body main .qr-code-generate {
      margin-top: 130px; }
      body main .qr-code-generate-img-block {
        background-size: 100% auto;
        background-repeat: no-repeat; }
        body main .qr-code-generate-img-block__phone {
          height: auto;
          width: 50%; }
          body main .qr-code-generate-img-block__phone::after {
            bottom: 10%; }
          body main .qr-code-generate-img-block__phone::before {
            bottom: 0;
            right: -60%; }
      body main .qr-code-generate-info {
        padding-left: 15px;
        padding-top: 0;
        align-items: flex-start; }
        body main .qr-code-generate-info__header {
          font-size: 24px;
          line-height: 29px;
          text-align: left; }
        body main .qr-code-generate-info__description {
          font-size: 16px;
          line-height: 22px; }
  body main .easier-ordering-wraper-text {
    padding-right: 0;
    justify-content: left; }
  body main .easier-ordering-text-block {
    padding-left: 15px; }
    body main .easier-ordering-text-block h2 {
      font-size: 24px;
      line-height: 29px;
      width: 60%; }
    body main .easier-ordering-text-block p {
      font-size: 16px;
      line-height: 22px;
      width: 100%; }
  body main .easier-ordering-advantages-cards {
    background-size: 360px 430px;
    background-repeat: no-repeat;
    margin-top: 145px;
    height: 430px; }
    body main .easier-ordering-advantages-cards__card {
      font-size: 14px;
      line-height: 16px; }
      body main .easier-ordering-advantages-cards__card:nth-child(1) {
        width: 190px;
        height: 70px;
        left: 10%;
        padding: 13px 15px 12px 14px;
        top: -20%; }
      body main .easier-ordering-advantages-cards__card:nth-child(2) {
        width: 200px;
        height: 70px;
        padding: 15px 18px 15px 17px;
        top: 5%;
        left: auto;
        right: 0%; }
      body main .easier-ordering-advantages-cards__card:nth-child(3) {
        width: 122px;
        height: 58px;
        padding: 13px 5px 13px 18px;
        bottom: -10%;
        right: 5%; }
      body main .easier-ordering-advantages-cards__card:nth-child(4) {
        width: 107px;
        height: 43px;
        padding: 14px 0px 13px 10px;
        bottom: 10%;
        left: 10%; }
  body main .get-in-touch {
    margin-top: 147px; }
    body main .get-in-touch__text {
      width: 90%; }
      body main .get-in-touch__text h2 {
        font-size: 24px;
        line-height: 29px; }
      body main .get-in-touch__text p {
        font-size: 16px;
        line-height: 22px; }
    body main .get-in-touch-form-block {
      width: 90%; }
    body main .get-in-touch-form {
      gap: 16px; }
      body main .get-in-touch-form-city-info {
        flex-direction: column;
        gap: 16px; }
      body main .get-in-touch-form__button {
        width: 100%;
        margin-top: 24px;
        z-index: 5;
        position: relative;
        background-color: rgba(0, 0, 0, 0); }
    body main .get-in-touch .download-marketplase {
      width: 70%; } }

/*# sourceMappingURL=adaptive.css.map */
